body {
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
}

.main-container {
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    width: 800px;
    height: 600px;
    justify-content: center;
    text-align: left;
    border-radius: 2em 2em 11em;
    font-family: 'Poppins', sans-serif;
}

.input-group {
    display: flex;
    justify-content: left;  
    align-items: center; 
    margin-top: 45px;
    margin-left: 40px; /*space from the side wall*/
}

.input-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.input-item h1 {
    color: hsl(0, 1%, 44%);
    display:flex;
    font-size: 14px;
    font-weight: 550;
    margin: 0;
    padding-right: 110px;
    padding-bottom: 10px;
    
}

#day, #month, #year {
    height: 65px; 
    width: 150px;
    border-radius: 8px;
    border: 1px solid hsl(0, 1%, 44%);
    font-family: 'popins', sans-serif;
    font-size: 32px;
    font-weight: 600;
}


hr{
    width: 77%; /* Adjust this value to control the length of the hr line */
    border: .7 solid hsl(0, 1%, 44%); /* Adjust the border style, color, and thickness if needed */
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 2px ;
}

.line-with-button {
    display: flex;
    align-items: center;
    margin-top: -40px;
    margin-left: 40px;
}

#arrow-button{
    cursor: pointer;
    background-color: #6c63ff;
    border-radius: 50px;
    border: none;
    width: 90px;
    height: 90px;
    transition-duration: .4s;
    
}


#arrow-button:hover{
background-color: black;
box-shadow: 0 5px 15px rgba(218, 196, 236, 0.563);
}

#arrow-button:active{
background-color: #6c63ff;

}

#arrow-button img {
    width: 45px; /* Adjust the size of the image */
    height: 45px; /* Adjust the size of the image */
}



.result {
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    margin-left: 80px;
    margin-top: -80px;
}

.line {
    display: flex;
    align-items: baseline;
    margin-bottom:-100px ;
    
}

.result span {
    color: #6c63ff;
    font-size: 70px;
    margin-right: 10px;
}

.result h1 {
    font-size: 70px;
    display: inline-block;
}

.error-message {
    color: red;
    font-size: 14px;
    height: 20px; /* Ensure space is reserved for the error message */
}

/*.error-input{
    border: 2px solid red;
  }*/
  






/*
Todo list:
- fix highlighted day, month, year.
- move dd,mm,yyy to the right place a smidge.
*/